.header-bg {
  background-color: $primary-color;
}

.header-bg-img {
  background-image: url("../assets/spotify_office.jpg");
  background-color: $primary-color;
  min-height: 340px;
}

.nav-gradient {
  background: linear-gradient(0deg, rgba(6,14,20,0) 0%, rgba(6,14,20,1) 100%); 
}
.searchinput{
 width:500px;
}

@media only screen and (max-width:600px){
  .searchinput{
    width:250px;
   }
}

.landing-header {
  padding: 0 0 100px;
  h1, h2 {
    margin: 0;
    color: $white;
  }
  h5 {
    color: $gray-color-dark;
    margin: 20px 0;
    line-height: 1.5em;
  }
  button {
    margin: 20px 0;
  }
      
}

.overview {
  background: $gray-color-light;
  .overview-point {
    display: flex;
    align-items: center;
    margin: 0 0 20px;
    h4, p {
      margin: 0;
    }
    h4 {
      background: $white;
      padding: 15px;
      border-radius: 30px;
      margin-right: 20px;
      color: $primary-color;
      box-shadow: $main-shadow;
      transition: all 0.3s ease;
      &:hover {
        background: $error;
        color: $white;
      }
    }
  }
}

.landing-section {
  padding: 100px 0;
}

.landing-spacer {
  margin: 160px auto;
}

.landing-spacer-top {
  margin-bottom: 120px;
}

.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  left: 0;
  right: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow:0 8px 8px 0 rgba(0,0,0,0.2), 0 0 0 3px rgba(0,0,0,0.08);
  padding: 1% 0;
  background-color: white;
  border: 1px solid antiquewhite;
  margin: 0 2%;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color:white;
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: #343C82 !important; 
  color: #ffffff; 
}
.autocomplete-tag{
  margin-left: 2%;
  background: rgb(74, 129, 233);
  border-radius: 10px;
  color: white;
  padding: 0.5%;
  font-size: smaller;
}
.autocomplete-tag:hover{
  text-decoration: none;
}
.autocomplete-link{
  text-decoration: none;
}
.autocomplete-link:hover{
  text-decoration: none;
}